doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    title c-node
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1= message
    h2= error.status
    pre #{error.stack}
