doctype html
html(lang='en' data-scale="true")
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    title c-node
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1")
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #app
    script(src="/vendor.js")
    script(src="/#{name}.bundle.js")
    // built files will be auto injected
