.page-container {
  .page-status {
    padding-top: 80px;
    text-align: center;

    .reload-view {
      .spe {
        fill: #F13642;
        width: 100px;
        height: 100px;
      }

      .reload-text {
        color: #bbbbbb;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .reload-btn {
        color: #0e80d2;
        font-size: 30px;
      }
    }

    .am-activity-indicator {
      flex-direction: column;

      .am-activity-indicator-spinner {
        margin-bottom: 20px;
      }
    }
  }
}
