::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.am-tabs {
  .am-search * {
    box-sizing: content-box;
  }

  .am-tabs-pane-wrap {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
}

.am-activity-indicator {
  justify-content: center;
  margin-top: 10px;
}

.markdown-body {
  font-size: 15px;

  p {
    line-height: 20px;
    word-wrap: break-word;
  }
}

audio, video {
  width: 100%;
  display: block;
  background: #000;
}
